.promoScrollButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 40px 0;
}

.promoScrollButton {
  background: transparent;
  border: none;
  width: 173px;
  height: 23px;
}

.buttonLeft {
  background-image: url("/leftbig.svg");
}

.buttonLeft:hover {
  background-image: url("/leftbighover.svg");
}

.buttonRight {
  background-image: url("/rightbig.svg");
  background-position: center right;
}

.buttonRight:hover {
  background-image: url("/rightbighover.svg");
}

.promoScrollButton:hover {
  cursor: pointer;
}

@media all and (max-width: 460px) {
  .promoScrollButton {
    width: 28px;
  }
}
