.promo {
  display: flex;
  flex-direction: column;
}

.promoHeading,
.promoText {
  max-width: 860px;
}

.promoHeading {
  margin: 0 40px;
  color: #7884a5;
  font-size: 72px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -0.576px;
  margin-bottom: 54px;
}

.promoText {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin: 0 40px 57px;
}

@media all and (max-width: 460px) {
  .promoHeading {
    font-size: 40px;
    line-height: 40px;
  }
}
