.promo {
  display: flex;
  flex-direction: column;
}

.promoHeading {
  margin: 0;
  color: #7884a5;
  font-size: 72px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -0.576px;
  margin-bottom: 54px;
}

.promoText {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 57px;
}
